<header>
    <nav>
        <ul>
            <li>{{#link-to 'index'}}Contact{{/link-to}}</li>
            <li>{{#link-to 'articles'}}Articles{{/link-to}}</li>
            <li>{{#link-to 'timeline'}}Timeline{{/link-to}}</li>
            <li>{{#link-to 'stack'}}Stack{{/link-to}}</li>
        </ul>
    </nav>
</header>
{{outlet}}