
<main>
	<h1>Robin Nieuwboer</h1>
	<section class="connection-methods">
		<a href="#mail">
			<h2>Mail</h2>
			<ul>
				<li>Quality of response: <span class="rating" data-amount="5" data-max="5">5/5</span></li>
				<li>Response Time: <span class="rating" data-amount="2" data-max="5">2/5</span></li>
				<li>Will I remember you: <span class="rating" data-amount="2" data-max="5">3/5</span></li>
			</ul>
		</a>
		<a href="#twitter">
			<h2>Twitter</h2>
			<ul>
				<li>Quality of response: <span class="rating" data-amount="2" data-max="5">3/5</span></li>
				<li>Response Time: <span class="rating" data-amount="4" data-max="5">4/5</span></li>
				<li>Will I remember you: <span class="rating" data-amount="4" data-max="5">4/5</span></li>
			</ul>
		</a>
		<a href="#linkedin">
			<h2>Linkedin</h2>
			<ul>
				<li>Quality of response: <span class="rating" data-amount="3" data-max="5">4/5</span></li>
				<li>Response Time: <span class="rating" data-amount="4" data-max="5">4/5</span></li>
				<li>Will I remember you: <span class="rating" data-amount="5" data-max="5">5/5</span></li>
			</ul>
		</a>
		<a href="#phone">
			<h2>Phone</h2>
			<ul>
				<li>Quality of response: <span class="rating" data-amount="3" data-max="5">3/5</span></li>
				<li>Response Time: <span class="rating" data-amount="1" data-max="5">2/5</span></li>
				<li>Will I remember you: <span class="rating" data-amount="1" data-max="5">1/5</span></li>
			</ul>
		</a>
	</section>
</main>